*{
        font-family: Arial, Helvetica, sans-serif
}
body{
        display: flex;
        flex-direction: column;   
        margin: 0px;     
}

.header, .footer{
        justify-content: space-around;
        padding: 20px;  
        display: flex;
        background-color: #1F2937;
        color: #e5e7eb;   
}

.left{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
}
.right{
        justify-content: flex-end;
        gap: 10px;
}

.Section-one{
        display: flex;
        background-color: #1F2937;
        color: #e5e7eb;   
        justify-content: center;
        flex: 1;
        padding: 40px;
        gap: 40px;
        flex-wrap: wrap;
}

.mainL{
        gap: 10px;
        display: flex;
        flex-direction: column;
        max-width: 400px;  
}

.info{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #1F2937;
}

.info-header{
        font-size: 36px;
        font-weight: 900;
        padding: 40px;
}

.info2{
        display: flex;
        gap: 40px;
        font-size: 18px;
        margin: 40px;
        flex-wrap: wrap;
}

.box{
        width: 150px;
        height: 150px;
        border: 2px solid #3882f6;
        border-radius: 8px;
}

.boxes{
        display: flex;
        flex-direction: column;
        width: 150px;
        text-align: center;
        align-content: center;
        justify-items: center;
        gap: 10px;
}

.quote-section{
        display: flex;
        background-color: #e5e7eb;
        padding:  50px;
        align-items: center;
        flex-direction: column;
        color: #1f2937;
        gap: 10px;
}

.quote{
        font-size: 36px;
        font-style:italic;
        font-weight:100;
        width: 600px;
}

.quotee{
        font-size: 18px;
        font-weight:900;
        width: 600px;
        text-align: end;
}

.call2act{
        color: #e5e7eb;
        display: flex;
        justify-content: center;
        padding: 40px;
}

.button{
        background-color: #3882f6;
        color: #e5e7eb;
        padding: 5px;
        width: 100px;  
        border-radius: 8px; 
        font-weight: 600;
        border-color: #e5e7eb;
        border-style:solid;
}
.button.top{
        border-style:none;
}

a, .hero-subtext{
        text-decoration: none;
        color: #e5e7eb;  
        font-size: 18px;
}

.HERO{
        font-size: 48px;
        font-weight: 900;
        color: #F9FAF8;        
}

.logotext{
        font-size: 24px;
        color: #F9FAF8;

}

img{
        border: #3882f6 5px;
}

.c2a-main{
        font-weight: 900;
}

.box1{
        justify-content: center;
        display: flex;
        width: 600px;
        gap: 10px;
        padding: 40px;
        background-color: #3882f6;
        border-radius: 8px;
}